.drowndownContent {
    overflow: scroll;
    margin-top:5px;
    z-index: 1;
    overflow: auto;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.menuOption {
    padding: 3px;
    margin: auto;
    width: 100%;
    background-color: white;
    border: none;
    font-weight: 600;
    font-size: 1em;
    text-align: left;
    padding-left: 25px;
}

.menuOption:hover {
    background-color: #eeeeee;
    color: black;
}

.menuOption:active {
    outline: none;
}

.mainDiv {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: auto;
    width: max-content;
    margin: auto;
    border: .7px solid lightgray;
    border-radius: 25px;
    padding-top: 10px;
    font-family: arial,sans-serif;
    background-color: white;
    max-width: 550px;
    max-height: 1000px;
}

.mainDiv:focus-within, .mainDiv:hover {
    border: none;
    box-shadow: 0 2px 5px 2px  rgba(0, 0, 0, 0.2);
}


.inputfield-initial {
    padding: none;
    width: 500px;
    font-size: 1.1em;
    border: none;
    margin: 0 25px;
    padding-bottom: 10px;
}


.inputfield-after {
    padding: none;
    width: 500px;
    font-size: 1.1em;
    border: none;
    margin: 0 25px;
    padding-bottom: 10px;
    border-bottom: .7px solid lightgray;
}

.inputfield-initial:focus, .inputfield-after:focus{
    outline: none;
}

.searchbar-component {
margin: auto;
}